@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Plus+Jakarta+Sans&display=swap");

$mainFont: "Plus Jakarta Sans", sans-serif;
$secondaryFont: "Karla", sans-serif;
$thirdFont: "Open Sans", sans-serif;