// Tipos de fuentes

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$mainFont: "Plus Jakarta Sans", sans-serif;
$secondFont: "Karla", sans-serif;
$thirdFont:  'Chakra Petch', sans-serif;
$fourthFont: 'Signika', sans-serif;
$fiveFont: 'Roboto', sans-serif;