.encabezado-contacto, .contact, footer {
    font-family:$secondaryFont;
  }
  
  .encabezado-contacto, .footer {
    background-color: $orangeColor2;
    color: $fontColor;
    font-size: 1.2rem;
  }