/* -------- SOBRE NOSOTROS -------- */

#main-sobreNosotros #sobreNosotros {
    margin: 2%;
  
    #about-us-container {
      #text-about-us {
        font-size: 1.5rem;
      }
  
      .cards {
        margin: 0% 2%;
      }
  
      .card {
        flex-direction: column;
        margin: 2% 2%;
      }
    }
  }