// vars de colores
$mainColor: rgb(242, 243, 244);
$secondaryColor: rgb(245, 203, 167);
$blueColor: rgb(48, 202, 255);
$orangeColor1: rgb(229, 152, 102);
$orangeColor2: rgb(245, 203, 167);
$fontColor: rgb(46, 64, 83);
